.today {
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

.card {
	height: 26rem;
	width: 18rem;
	gap: 1rem;
	font-size: 1.35rem;
}

.heading {
	font-size: 1.7rem;
}

.main {
	gap: 1rem;
}

.temperature {
	font-size: 1.7rem;
}

.icon {
	font-size: 5rem;
}

@media screen and (min-width: 300px) {
	.card {
		height: 34rem;
		width: 24rem;
		gap: 1.2rem;
		font-size: 1.85rem;
	}

	.heading {
		font-size: 2.35rem;
	}

	.main {
		gap: 1.2rem;
	}

	.temperature {
		font-size: 2.35rem;
	}

	.icon {
		font-size: 8.5rem;
	}
}

@media screen and (min-width: 400px) {
	.card {
		height: 46rem;
		width: 34rem;
		gap: 1.8rem;
		font-size: 2.5rem;
	}

	.heading {
		font-size: 3rem;
	}

	.main {
		gap: 1.8rem;
	}

	.temperature {
		font-size: 3rem;
	}

	.icon {
		font-size: 12rem;
	}
}

@media screen and (min-width: 500px) {
	.card {
		width: 40rem;
	}
}

@media screen and (min-width: 600px) {
	.card {
		width: 44rem;
	}
}
